@model IEnumerable<Cream.DTO.GameDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a> | <a asp-action="IncomeReport">IncomeReport</a>| <a asp-action="ReportLastRates">Last reviews report</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Developer)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Developer)
                </td>
                <td>
                    <a asp-controller="Rates" asp-action="RateGame" asp-route-GameId="@item.Id">Rate</a> |
                    <a asp-controller="Rates" asp-action="GameRates" asp-route-GameId="@item.Id">Reviews</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                <td>
                    @{
                        string controller = "Orders";
                        string actionName = "Buy";
                        string action = "Create";
                        if (item.IsOwned)
                        {
                            controller = "Refunds"; 
                            actionName = "Refund";
                            action = "Request";
                        }
                    }
                    <form asp-controller="@controller" asp-action="@action" asp-route-GameId="@item.Id">
                        <input type="submit" value="@actionName" class="btn btn-primary" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
